@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;700&display=swap');

body{
    margin: 0;
    padding-top: 80px;
    width: 100%;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    overflow-y: hidden;
}

#conteudo{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 40px;
    justify-content: center;
    width: 300px;
    height: 460px;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    box-shadow: 10px 12px 20px hsl(0, 0%, 85%);
}

img{
    width: 260px;
    margin-top: 110px;
    border-radius: 10px;
}

#infos{
    text-align: center;
}

h1{
    font-size: 1.3em;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

p{
    padding-bottom: 110px;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}